// Tags
i {
  font-size: 1.25rem;
}

// Custom font weight
.fw-medium {
  font-weight: 500;
}

// Custom font size
.text-details {
  font-size: 0.875rem; // 14px
}

.text-body-18 {
  font-size: 1.125rem;
}

.text-title-24 {
  font-size: 1.5rem;
}

.text-main-title {
  font-size: 2rem; // 32px
}