.card-checkout{
    background: #f6f6f6 !important;
}
.rounded-form, .sm-room{
    border-radius: 10px;
}
.btn-continue{
    border-radius: 50px;
    margin-top: 3%;
}
@media (min-width: 1200px){
    .card-checkout {
        width: 75% !important;
    }
}
@media(max-width:900px){
    .form-billing{
        width: 90% !important;
    }
}