.icon-rating{
  margin-left: 6px;
  width: 1rem;
}
.im-hotel{
  height: 28rem;
  border-radius: 10px;
}
.btn-type{
  padding: 0 !important;
  width: 6rem !important;
}
.small-img{
    margin-bottom: 1rem;
    height: 31%;
    border-radius: 10px;
}
.card-hotel,
 .card-room, .room, .im-room,.sm-room{
  border-radius: 10px;
}
.price-final{
  color: #FA993A;
}
.sm-room{
  height:75px !important;
}
.card-room{
  background: #f6f6f6 !important;
}

.btn-room-detail{
  border-radius: 50px;
  margin-top: 3%;
  background:#f6f6f6 ;
}
.room-detail{
  height: 100%;
  padding-bottom: 1%;
  
}

// $breakpoints: (phone: 640px, 
//                tablet: 768px, 
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {

// }
@media (min-width: 1200px){
  .card-hotel{
    width: 75% !important;
  }
  .card-room{
    width: 70% !important;
  }
}

@media (max-width: 763px){
  .room-detail {
    width: 100% !important;
    margin-bottom: 3%;
}
  .type-room, .price-mb, .hotel-main{
    width: 100% !important;
  }
  .half-detail{
    width: 50% !important;
  }
  .hotel-sm-img{
    display:none !important;
  }
}